@charset "ISO-8859-1";

body{
	margin:0;
	box-sizing: border-box;
	font-family:Helvetica;
}

h1{
	text-align:center;
}


.grupo{
	text-align:center;
	background-color:GREY;
	/*padding: 40px ;*/
	width: 100%;
}

input{
	top: 50%;
	display:flex;
 	margin: 0 auto;
	padding: 10px 30px;	
}


footer{
	clear: both;
    text-align: center;
    background-color: black;
    color: #FFFFFF;	
    position:absolute;
    bottom: 0px;
    width: 100%;
}