@charset "ISO-8859-1";

body{
	margin:0;
	box-sizing: border-box;
	font-family:Helvetica;
}

h1{
	text-align:center;
}

.grupo{
	text-align:center;
	background-color:GREY;
	/*padding: 40px ;*/
	width: 100%;
}

input{
	top: 50%;
	display:flex;
 	margin: 0 auto;
	padding: 10px 30px;	
}


.Container{
	width:900px;
	
	font-size:20px;
	align-items: center;
	text-align:center;
	margin:auto;
}

.Tabela{
	width: 90%;
	display:flex;
	background: #00FFFF;
	border-radius: 20px;
	margin-top:10%;
	float: left;
	margin: 8px;
	padding: 70px;
}

table{
	align-items:center;
	display:flex;
}

.GRUPO{
	width:200px;
	display:flex;
}

td{
	width:200px;

}
